<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/favicon-32x32.png" />

  <title><%= siteMap.title %></title>
  <% if (mode !== 'development') { %>
  <link href="/static/css/vendor.<%= siteMap.appVersion %>.chunk.css" rel="stylesheet">
  <link href="/static/css/main.<%= siteMap.appVersion %>.chunk.css" rel="stylesheet">
  <% } %>
 
</head>

<body>
  <div id="root" class="content">
  </div>

  <script type="text/javascript">
    window.APP_CONFIG = {
      appVersion: '<%= siteMap.appVersion %>',
      gaTrackingId: '<%= analytics.gaTrackingId %>'
    };
  </script>
  
  <% if (mode !== 'development') { %>
  <script src="/static/js/vendor.<%= siteMap.appVersion %>.chunk.js"></script>
  <script src="/static/js/main.<%= siteMap.appVersion %>.chunk.js"></script>
  <script src="/static/js/runtime~main.<%= siteMap.appVersion %>.js"></script>
  <% } else { %>
  <script src="/static/js/bundle.js"></script>
  <script src="/static/js/vendor.chunk.js"></script>
  <script src="/static/js/main.chunk.js"></script>
  <script>
    window.APP_CONFIG.MODE = 'development';
  </script>
  <% }%>

</body>

</html>